In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('BowlingSummaryINDIA.csv')
# df.tail()

In [2]:
df = df.drop(['Ab'],axis=1)
# print(df)

In [3]:
df

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB
0,Bhuvneshwar Kumar,10.0,0,44,2,4.40,33,3,0,2,0
1,Jasprit Bumrah,10.0,1,35,2,3.50,41,4,0,0,0
2,Hardik Pandya,6.0,0,31,0,5.16,16,2,0,0,0
3,Kuldeep Yadav,10.0,0,46,1,4.60,28,2,1,1,0
4,Yuzvendra Chahal,10.0,0,51,4,5.10,32,1,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...
359,Hardik Pandya,4.0,1,13,0,3.25,18,2,0,0,0
360,Shardul Thakur,6.3,0,37,4,5.69,23,5,1,0,0
361,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0
362,Kuldeep Yadav,8.0,3,25,2,3.12,39,3,1,0,0
363,Ravindra Jadeja,5.0,1,29,0,5.80,21,3,2,0,0

In [4]:
df['Matches Played'] = df.groupby('Name')['Name'].transform('count')

In [5]:
df

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,Matches Played
0,Bhuvneshwar Kumar,10.0,0,44,2,4.40,33,3,0,2,0,16
1,Jasprit Bumrah,10.0,1,35,2,3.50,41,4,0,0,0,23
2,Hardik Pandya,6.0,0,31,0,5.16,16,2,0,0,0,28
3,Kuldeep Yadav,10.0,0,46,1,4.60,28,2,1,1,0,40
4,Yuzvendra Chahal,10.0,0,51,4,5.10,32,1,2,3,0,29
...,...,...,...,...,...,...,...,...,...,...,...,...
359,Hardik Pandya,4.0,1,13,0,3.25,18,2,0,0,0,28
360,Shardul Thakur,6.3,0,37,4,5.69,23,5,1,0,0,33
361,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0,1
362,Kuldeep Yadav,8.0,3,25,2,3.12,39,3,1,0,0,40
363,Ravindra Jadeja,5.0,1,29,0,5.80,21,3,2,0,0,24

In [6]:
grouped = df.groupby('Name')
aggregated = grouped[['Overs','Maiden','Runs','Wickets','0s',"4s","6s",'Wide','NB']].sum()
aggregated

                     Overs  Maiden  Runs  Wickets   0s   4s  6s  Wide  NB
Name
Arshdeep Singh        13.1       1    89        0   45   10   3     2   1
Avesh Khan            35.3       2   214        3  118   24   5     6   2
Axar Patel            86.3       6   417       13  279   33  10     1   1
Bhuvneshwar Kumar    134.4       3   742       23  434   63  13    33   1
Chetan Sakariya        8.0       0    34        2   32    4   0     1   2
Deepak Chahar         81.0       5   452       15  279   52   7    17   3
Deepak Hooda          25.0       1   119        3   79    8   3     4   0
Hardik Pandya        180.4       8  1031       29  543   87  20    37   5
Jasprit Bumrah       216.6      17  1058       36  742  103   9    33   3
Jayant Yadav          10.0       0    53        0   30    3   1     1   1
Jaydev Unadkat         5.0       0    16        1   20    2   0     0   0
Kedar Jadhav          16.0       0    83        0   51    9   1     3   0
Khaleel Ahmed         17.0       0   127        4   50   11   7     2   0
Krishnappa Gowtham     8.0       0    49        1   25    6   0     2   0
Krunal Pandya         38.0       1   223        2  103    8  11     6   0
Kuldeep Sen            5.0       0    37        2   16    1   3     3   0
Kuldeep Yadav        341.4      15  1852       54  989  117  56    26   0
Mayank Agarwal         1.0       0    10        0    2    2   0     0   0
Mohammed Shami       211.5      12  1259       49  723  151  24    44   1
Mohammed Siraj       175.8      19   815       43  712  102  10    41   1
Mukesh Kumar          15.0       2    69        4   66    8   1     6   2
Navdeep Saini         70.0       0   481        6  203   54  11    11   4
Nitish Rana            3.0       0    10        0    9    0   0     0   0
Prasidh Krishna      111.8       7   598       25  420   73  13    16   3
Rahul Chahar          10.0       0    54        3   31    6   0     0   2
Ravi Bishnoi           8.0       0    69        1   21    7   1     4   1
Ravichandran Ashwin   20.0       1   121        1   44    8   2     2   0
Ravindra Jadeja      193.0       2   987       20  564   62  26     9   6
Shahbaz Ahmed         26.0       0   125        3   75   11   1     0   0
Shardul Thakur       237.9      10  1474       52  746  141  42    54  11
Shivam Dube            7.5       0    68        0   13    9   1     0   0
Shreyas Iyer           5.1       0    37        0   14    2   2     2   0
T Natarajan           20.0       1   143        3   59   14   4    11   1
Umran Malik           61.0       2   399       13  192   51   6    11   4
Venkatesh Iyer         5.0       0    28        0   10    2   0     0   0
Vijay Shankar          5.2       0    22        2   19    2   0     2   0
Washington Sundar     76.0       2   370       15  246   24  12     7   1
Yuzvendra Chahal     260.2       2  1511       49  761   96  57    29   3

In [7]:
df = df.sort_values(by='Name')
df

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,Matches Played
267,Arshdeep Singh,8.1,0,68,0,8.32,22,6,3,1,1,2
273,Arshdeep Singh,5.0,1,21,0,4.20,23,4,0,1,0,2
251,Avesh Khan,8.0,0,51,0,6.37,28,4,2,2,0,5
245,Avesh Khan,9.3,1,66,3,6.94,29,7,2,1,2,5
222,Avesh Khan,6.0,0,54,0,9.00,13,8,1,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
186,Yuzvendra Chahal,9.5,0,49,4,4.98,38,1,4,0,0,29
110,Yuzvendra Chahal,10.0,1,47,3,4.70,28,3,1,0,0,29
106,Yuzvendra Chahal,10.0,0,58,3,5.80,27,4,2,1,0,29
155,Yuzvendra Chahal,10.0,1,50,3,5.00,26,4,0,0,0,29
327,Yuzvendra Chahal,7.2,0,43,2,5.86,22,3,2,0,0,29

In [10]:
df = df.drop_duplicates(subset=['Name'])
df

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,Matches Played
267,Arshdeep Singh,8.1,0,68,0,8.32,22,6,3,1,1,2
251,Avesh Khan,8.0,0,51,0,6.37,28,4,2,2,0,5
229,Axar Patel,6.0,0,38,1,6.33,15,4,1,0,0,13
34,Bhuvneshwar Kumar,9.0,0,51,1,5.66,26,2,1,3,0,16
159,Chetan Sakariya,8.0,0,34,2,4.25,32,4,0,1,2,1
72,Deepak Chahar,7.0,1,44,0,6.28,23,6,1,2,0,11
192,Deepak Hooda,4.0,0,24,1,6.00,12,1,1,1,0,6
124,Hardik Pandya,4.0,0,24,1,6.00,10,2,0,0,0,28
98,Jasprit Bumrah,10.0,1,53,0,5.30,37,3,1,9,0,23
179,Jayant Yadav,10.0,0,53,0,5.30,30,3,1,1,1,1
361,Jaydev Unadkat,5.0,0,16,1,3.20,20,2,0,0,0,1
64,Kedar Jadhav,4.0,0,13,0,3.25,14,1,0,0,0,6
56,Khaleel Ahmed,7.0,0,32,1,4.57,23,2,1,2,0,3
161,Krishnappa Gowtham,8.0,0,49,1,6.12,25,6,0,2,0,1
133,Krunal Pandya,10.0,0,59,1,5.90,31,4,3,0,0,5
278,Kuldeep Sen,5.0,0,37,2,7.40,16,1,3,3,0,1
304,Kuldeep Yadav,10.0,0,51,3,5.10,33,6,1,0,0,40
123,Mayank Agarwal,1.0,0,10,0,10.00,2,2,0,0,0,1
67,Mohammed Shami,9.0,1,57,1,6.33,27,8,1,0,0,27
311,Mohammed Siraj,10.0,2,46,4,4.60,39,7,0,4,0,23
358,Mukesh Kumar,7.0,1,30,3,4.28,33,2,1,4,2,3
120,Navdeep Saini,7.0,0,70,0,10.00,15,7,3,2,1,8
163,Nitish Rana,3.0,0,10,0,3.33,9,0,0,0,0,1
239,Prasidh Krishna,6.1,1,28,1,4.54,27,1,1,1,0,14
160,Rahul Chahar,10.0,0,54,3,5.40,31,6,0,0,2,1
253,Ravi Bishnoi,8.0,0,69,1,8.62,21,7,1,4,1,1
171,Ravichandran Ashwin,10.0,1,68,0,6.80,24,6,2,0,0,2
343,Ravindra Jadeja,10.0,0,34,0,3.40,31,1,0,1,0,24
279,Shahbaz Ahmed,9.0,0,39,0,4.33,27,3,0,0,0,3
314,Shardul Thakur,7.2,0,54,2,7.36,27,6,2,7,0,33
69,Shivam Dube,7.5,0,68,0,8.68,13,9,1,0,0,1
77,Shreyas Iyer,1.0,0,13,0,13.00,3,1,1,2,0,4
126,T Natarajan,10.0,1,70,2,7.00,30,7,2,4,1,2
303,Umran Malik,7.0,0,48,2,6.85,21,6,1,0,1,9
174,Venkatesh Iyer,5.0,0,28,0,5.60,10,2,0,0,0,1
14,Vijay Shankar,5.2,0,22,2,4.12,19,2,0,2,0,1
321,Washington Sundar,3.0,1,7,2,2.33,13,0,0,0,0,13
168,Yuzvendra Chahal,10.0,0,53,0,5.30,30,6,0,0,0,29

In [8]:
df1 = df[['Name', 'Matches Played']]
df1
# df1.to_csv('Matches Played.csv')

                 Name  Matches Played
267    Arshdeep Singh               2
273    Arshdeep Singh               2
251        Avesh Khan               5
245        Avesh Khan               5
222        Avesh Khan               5
..                ...             ...
186  Yuzvendra Chahal              29
110  Yuzvendra Chahal              29
106  Yuzvendra Chahal              29
155  Yuzvendra Chahal              29
327  Yuzvendra Chahal              29

[364 rows x 2 columns]

In [12]:
df['Runs']=list(aggregated['Runs'])
df['Overs']=list(aggregated['Overs'])
df['Maiden']=list(aggregated['Maiden'])
df['Wickets']=list(aggregated['Wickets'])
df['0s']=list(aggregated['0s'])
df['4s']=list(aggregated['4s'])
df['6s']=list(aggregated['6s'])
df['Wide']=list(aggregated['Wide'])
df['NB']=list(aggregated['NB'])
df['ECON']=df['Runs']/df['Overs']
df

C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Runs']=list(aggregated['Runs'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Overs']=list(aggregated['Overs'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Maiden']=list(aggregated['Maiden'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wickets']=list(aggregated['Wickets'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['0s']=list(aggregated['0s'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['4s']=list(aggregated['4s'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['6s']=list(aggregated['6s'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Wide']=list(aggregated['Wide'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NB']=list(aggregated['NB'])
C:\Users\yagna\AppData\Local\Temp\ipykernel_24140\3872707483.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ECON']=df['Runs']/df['Overs']

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,Matches Played
267,Arshdeep Singh,13.1,1,89,0,6.793893,45,10,3,2,1,2
251,Avesh Khan,35.3,2,214,3,6.062323,118,24,5,6,2,5
229,Axar Patel,86.3,6,417,13,4.831981,279,33,10,1,1,13
34,Bhuvneshwar Kumar,134.4,3,742,23,5.520833,434,63,13,33,1,16
159,Chetan Sakariya,8.0,0,34,2,4.250000,32,4,0,1,2,1
72,Deepak Chahar,81.0,5,452,15,5.580247,279,52,7,17,3,11
192,Deepak Hooda,25.0,1,119,3,4.760000,79,8,3,4,0,6
124,Hardik Pandya,180.4,8,1031,29,5.715078,543,87,20,37,5,28
98,Jasprit Bumrah,216.6,17,1058,36,4.884580,742,103,9,33,3,23
179,Jayant Yadav,10.0,0,53,0,5.300000,30,3,1,1,1,1
361,Jaydev Unadkat,5.0,0,16,1,3.200000,20,2,0,0,0,1
64,Kedar Jadhav,16.0,0,83,0,5.187500,51,9,1,3,0,6
56,Khaleel Ahmed,17.0,0,127,4,7.470588,50,11,7,2,0,3
161,Krishnappa Gowtham,8.0,0,49,1,6.125000,25,6,0,2,0,1
133,Krunal Pandya,38.0,1,223,2,5.868421,103,8,11,6,0,5
278,Kuldeep Sen,5.0,0,37,2,7.400000,16,1,3,3,0,1
304,Kuldeep Yadav,341.4,15,1852,54,5.424722,989,117,56,26,0,40
123,Mayank Agarwal,1.0,0,10,0,10.000000,2,2,0,0,0,1
67,Mohammed Shami,211.5,12,1259,49,5.952719,723,151,24,44,1,27
311,Mohammed Siraj,175.8,19,815,43,4.635950,712,102,10,41,1,23
358,Mukesh Kumar,15.0,2,69,4,4.600000,66,8,1,6,2,3
120,Navdeep Saini,70.0,0,481,6,6.871429,203,54,11,11,4,8
163,Nitish Rana,3.0,0,10,0,3.333333,9,0,0,0,0,1
239,Prasidh Krishna,111.8,7,598,25,5.348837,420,73,13,16,3,14
160,Rahul Chahar,10.0,0,54,3,5.400000,31,6,0,0,2,1
253,Ravi Bishnoi,8.0,0,69,1,8.625000,21,7,1,4,1,1
171,Ravichandran Ashwin,20.0,1,121,1,6.050000,44,8,2,2,0,2
343,Ravindra Jadeja,193.0,2,987,20,5.113990,564,62,26,9,6,24
279,Shahbaz Ahmed,26.0,0,125,3,4.807692,75,11,1,0,0,3
314,Shardul Thakur,237.9,10,1474,52,6.195881,746,141,42,54,11,33
69,Shivam Dube,7.5,0,68,0,9.066667,13,9,1,0,0,1
77,Shreyas Iyer,5.1,0,37,0,7.254902,14,2,2,2,0,4
126,T Natarajan,20.0,1,143,3,7.150000,59,14,4,11,1,2
303,Umran Malik,61.0,2,399,13,6.540984,192,51,6,11,4,9
174,Venkatesh Iyer,5.0,0,28,0,5.600000,10,2,0,0,0,1
14,Vijay Shankar,5.2,0,22,2,4.230769,19,2,0,2,0,1
321,Washington Sundar,76.0,2,370,15,4.868421,246,24,12,7,1,13
168,Yuzvendra Chahal,260.2,2,1511,49,5.807071,761,96,57,29,3,29

In [13]:
df

,Name,Overs,Maiden,Runs,Wickets,ECON,0s,4s,6s,Wide,NB,Matches Played
267,Arshdeep Singh,13.1,1,89,0,6.793893,45,10,3,2,1,2
251,Avesh Khan,35.3,2,214,3,6.062323,118,24,5,6,2,5
229,Axar Patel,86.3,6,417,13,4.831981,279,33,10,1,1,13
34,Bhuvneshwar Kumar,134.4,3,742,23,5.520833,434,63,13,33,1,16
159,Chetan Sakariya,8.0,0,34,2,4.250000,32,4,0,1,2,1
72,Deepak Chahar,81.0,5,452,15,5.580247,279,52,7,17,3,11
192,Deepak Hooda,25.0,1,119,3,4.760000,79,8,3,4,0,6
124,Hardik Pandya,180.4,8,1031,29,5.715078,543,87,20,37,5,28
98,Jasprit Bumrah,216.6,17,1058,36,4.884580,742,103,9,33,3,23
179,Jayant Yadav,10.0,0,53,0,5.300000,30,3,1,1,1,1
361,Jaydev Unadkat,5.0,0,16,1,3.200000,20,2,0,0,0,1
64,Kedar Jadhav,16.0,0,83,0,5.187500,51,9,1,3,0,6
56,Khaleel Ahmed,17.0,0,127,4,7.470588,50,11,7,2,0,3
161,Krishnappa Gowtham,8.0,0,49,1,6.125000,25,6,0,2,0,1
133,Krunal Pandya,38.0,1,223,2,5.868421,103,8,11,6,0,5
278,Kuldeep Sen,5.0,0,37,2,7.400000,16,1,3,3,0,1
304,Kuldeep Yadav,341.4,15,1852,54,5.424722,989,117,56,26,0,40
123,Mayank Agarwal,1.0,0,10,0,10.000000,2,2,0,0,0,1
67,Mohammed Shami,211.5,12,1259,49,5.952719,723,151,24,44,1,27
311,Mohammed Siraj,175.8,19,815,43,4.635950,712,102,10,41,1,23
358,Mukesh Kumar,15.0,2,69,4,4.600000,66,8,1,6,2,3
120,Navdeep Saini,70.0,0,481,6,6.871429,203,54,11,11,4,8
163,Nitish Rana,3.0,0,10,0,3.333333,9,0,0,0,0,1
239,Prasidh Krishna,111.8,7,598,25,5.348837,420,73,13,16,3,14
160,Rahul Chahar,10.0,0,54,3,5.400000,31,6,0,0,2,1
253,Ravi Bishnoi,8.0,0,69,1,8.625000,21,7,1,4,1,1
171,Ravichandran Ashwin,20.0,1,121,1,6.050000,44,8,2,2,0,2
343,Ravindra Jadeja,193.0,2,987,20,5.113990,564,62,26,9,6,24
279,Shahbaz Ahmed,26.0,0,125,3,4.807692,75,11,1,0,0,3
314,Shardul Thakur,237.9,10,1474,52,6.195881,746,141,42,54,11,33
69,Shivam Dube,7.5,0,68,0,9.066667,13,9,1,0,0,1
77,Shreyas Iyer,5.1,0,37,0,7.254902,14,2,2,2,0,4
126,T Natarajan,20.0,1,143,3,7.150000,59,14,4,11,1,2
303,Umran Malik,61.0,2,399,13,6.540984,192,51,6,11,4,9
174,Venkatesh Iyer,5.0,0,28,0,5.600000,10,2,0,0,0,1
14,Vijay Shankar,5.2,0,22,2,4.230769,19,2,0,2,0,1
321,Washington Sundar,76.0,2,370,15,4.868421,246,24,12,7,1,13
168,Yuzvendra Chahal,260.2,2,1511,49,5.807071,761,96,57,29,3,29

In [25]:
df.to_csv('NewBowlingSummary.csv')